<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>MateriaApp</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>

<body>

	<div class="container text-center mt-5">
		<div class="md">
			<h1>Lista de Materias</h1>
			<a href="/reserva/cadastrar"><button class="btn btn-primary m-3"
					type="submit">Cadastrar</button></a> <a href="../"><button
					class="btn btn-primary m-3" type="submit">Voltar</button></a>
		</div>

		<table class="table table-dark table-bordered">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Sala</th>
					<th scope="col">Materia</th>
					<th scope="col">Professor</th>
					<th scope="col">Data</th>
					<th scope="col">Data Limite</th>
				</tr>
			</thead>
			<tbody th:each="reserva : ${reservas}">
				<th th:text="${reserva.id}"></th>
				<td th:text="${reserva.sala}"></td>
				<th th:text="${reserva.data}"></th>
				<td th:text="${reserva.dataLimite}"></td>
				<th th:text="${reserva.professor}"></th>
				<td th:text="${reserva.materia}"></td>
			</tbody>
		</table>


	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>