<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>ProfessorApp</title>
</head>

<body>
	<h1>Pagina de cadastro de Usuario:</h1>
	<form method="post">
		Login:<input type="text" value="" name="login" /> Senha:<input
			type="text" value="" name="senha" /> Id_prof:<input type="text"
			value="" name="professor.id" /> Ativo:<input type="text" value="true"
			name="ativo" />
		<button type="submit">Salvar</button>
	</form>
</body>
</html>